@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#basic-navbar-nav
{
margin-right: 10px;
}
.start 
{
text-align: center;
width: 99%;
margin: 2em auto;
}
.image
{
max-width: 400px;
object-fit: cover;
height: 400px;
}

h2
{
font-family: 'Roboto';
margin-top: 1em;
}
